<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autoyol.field.progress.manage.mapper.PickDeliverFeeLogMapper">
    <resultMap id="BaseResultMap" type="com.autoyol.field.progress.manage.entity.PickDeliverFeeLogEntity">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="pick_deliver_order_no" jdbcType="VARCHAR" property="pickDeliverOrderNo"/>
        <result column="service_type" jdbcType="INTEGER" property="serviceType"/>
        <result column="bear_type" jdbcType="INTEGER" property="bearType"/>
        <result column="allowance_owner_reason_type" jdbcType="VARCHAR" property="allowanceOwnerReasonType"/>
        <result column="allowance_tenant_reason_type" jdbcType="VARCHAR" property="allowanceTenantReasonType"/>
        <result column="adjust_price_owner_reason_type" jdbcType="INTEGER" property="adjustPriceOwnerReasonType"/>
        <result column="adjust_price_tenant_reason_type" jdbcType="INTEGER" property="adjustPriceTenantReasonType"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="create_op" jdbcType="VARCHAR" property="createOp"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_op" jdbcType="VARCHAR" property="updateOp"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithMemo"
               type="com.autoyol.field.progress.manage.entity.PickDeliverFeeLogWithMemoEntity">
        <result column="fee_memo" jdbcType="LONGVARCHAR" property="feeMemo"/>
        <result column="report_memo" jdbcType="LONGVARCHAR" property="reportMemo"/>
        <result column="fine_memo" jdbcType="LONGVARCHAR" property="fineMemo"/>
    </resultMap>
    <sql id="Blob_Column_List">
    fee_memo, report_memo, fine_memo
  </sql>

    <sql id="Base_Column_List">
      id, pick_deliver_order_no, service_type, bear_type,
      allowance_owner_reason_type, allowance_tenant_reason_type,
      adjust_price_owner_reason_type, adjust_price_tenant_reason_type,
      is_delete, create_op, create_time,
      update_op, update_time, fee_memo,
      report_memo, fine_memo
    </sql>

    <select id="selectByCond" parameterType="com.autoyol.field.progress.manage.entity.PickDeliverFeeLogWithMemoEntity" resultMap="ResultMapWithMemo">
        select
        <include refid="Base_Column_List"/>
        from pick_deliver_fee_log t
        where t.pick_deliver_order_no = #{tackBackOrderNo,jdbcType=VARCHAR}
        and t.service_type =  #{serviceType}
        order by t.create_time desc limit 1
    </select>

    <insert id="insertSelective"
            parameterType="com.autoyol.field.progress.manage.entity.PickDeliverFeeLogWithMemoEntity">
        insert into pick_deliver_fee_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="pickDeliverOrderNo != null">
                pick_deliver_order_no,
            </if>
            <if test="serviceType != null">
                service_type,
            </if>
            <if test="bearType != null">
                bear_type,
            </if>
            <if test="allowanceOwnerReasonType != null">
                allowance_owner_reason_type,
            </if>
            <if test="allowanceTenantReasonType != null">
                allowance_tenant_reason_type,
            </if>
            <if test="adjustPriceOwnerReasonType != null">
                adjust_price_owner_reason_type,
            </if>
            <if test="adjustPriceTenantReasonType != null">
                adjust_price_tenant_reason_type,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createOp != null">
                create_op,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateOp != null">
                update_op,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="feeMemo != null">
                fee_memo,
            </if>
            <if test="reportMemo != null">
                report_memo,
            </if>
            <if test="fineMemo != null">
                fine_memo,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="pickDeliverOrderNo != null">
                #{pickDeliverOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="serviceType != null">
                #{serviceType,jdbcType=INTEGER},
            </if>
            <if test="bearType != null">
                #{bearType,jdbcType=INTEGER},
            </if>
            <if test="allowanceOwnerReasonType != null">
                #{allowanceOwnerReasonType,jdbcType=VARCHAR},
            </if>
            <if test="allowanceTenantReasonType != null">
                #{allowanceTenantReasonType,jdbcType=VARCHAR},
            </if>
            <if test="adjustPriceOwnerReasonType != null">
                #{adjustPriceOwnerReasonType,jdbcType=INTEGER},
            </if>
            <if test="adjustPriceTenantReasonType != null">
                #{adjustPriceTenantReasonType,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="createOp != null">
                #{createOp,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateOp != null">
                #{updateOp,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="feeMemo != null">
                #{feeMemo,jdbcType=LONGVARCHAR},
            </if>
            <if test="reportMemo != null">
                #{reportMemo,jdbcType=LONGVARCHAR},
            </if>
            <if test="fineMemo != null">
                #{fineMemo,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
</mapper>