<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autoyol.field.progress.manage.mapper.SysDictEntityMapper">
    <resultMap id="BaseResultMap" type="com.autoyol.field.progress.manage.entity.SysDictEntity">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="type_name" jdbcType="VARCHAR" property="typeName"/>
        <result column="code" jdbcType="INTEGER" property="code"/>
        <result column="label" jdbcType="VARCHAR" property="label"/>
        <result column="label1" jdbcType="VARCHAR" property="label1"/>
        <result column="sort_key" jdbcType="INTEGER" property="sortKey"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="create_op" jdbcType="VARCHAR" property="createOp"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_op" jdbcType="VARCHAR" property="updateOp"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, type_name, code, label, label1, sort_key, is_delete, create_op,
      create_time, update_op, update_time
    </sql>

    <select id="selectByTypeName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict d
        where d.type_name = #{typeName,jdbcType=VARCHAR}
    </select>

    <select id="selectByTypeNameStr" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict d
        where d.type_name in
        <foreach item="item" index="index" collection="nameList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict
    </select>

    <insert id="insert" parameterType="com.autoyol.field.progress.manage.entity.SysDictEntity">
    insert into sys_dict (id, type_name, code,
      label, label1, sort_key, is_delete, create_op,
      create_time, update_op, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, #{code,jdbcType=INTEGER},
      #{label,jdbcType=VARCHAR}, #{label1,jdbcType=VARCHAR}, #{sortKey,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}, #{createOp,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateOp,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.autoyol.field.progress.manage.entity.SysDictEntity">
        insert into sys_dict
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="typeName != null">
                type_name,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="label != null">
                label,
            </if>
            <if test="label1 != null">
                label1,
            </if>
            <if test="sortKey != null">
                sort_key,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createOp != null">
                create_op,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateOp != null">
                update_op,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="typeName != null">
                #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code,jdbcType=INTEGER},
            </if>
            <if test="label != null">
                #{label,jdbcType=VARCHAR},
            </if>
            <if test="label1 != null">
                #{label1,jdbcType=VARCHAR},
            </if>
            <if test="sortKey != null">
                #{sortKey,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="createOp != null">
                #{createOp,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateOp != null">
                #{updateOp,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>