<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autoyol.field.progress.manage.mapper.VersionConfMapper">
    <resultMap id="BaseResultMap" type="com.autoyol.field.progress.manage.entity.VersionConfEntity">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="platform_type" jdbcType="INTEGER" property="platformType"/>
        <result column="inner_version" jdbcType="VARCHAR" property="innerVersion"/>
        <result column="outer_version" jdbcType="VARCHAR" property="outerVersion"/>
        <result column="force_update" jdbcType="INTEGER" property="forceUpdate"/>
        <result column="home_noticed" jdbcType="INTEGER" property="homeNoticed"/>
        <result column="download_url" jdbcType="VARCHAR" property="downloadUrl"/>
        <result column="home_pic_path" jdbcType="VARCHAR" property="homePicPath"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="published" jdbcType="INTEGER" property="published"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="create_op" jdbcType="VARCHAR" property="createOp"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_op" jdbcType="VARCHAR" property="updateOp"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
       id, title, platform_type, inner_version, outer_version, force_update,
      home_noticed, download_url, home_pic_path, memo, published, is_delete,
      create_op, create_time, update_op, update_time
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from version_conf v where v.is_delete=0 and v.id = #{id,jdbcType=INTEGER}
    </select>

    <select id="countByCond" parameterType="com.autoyol.field.progress.manage.entity.VersionConfEntity"
            resultType="java.lang.Integer">
        select count(id)
        from version_conf v where v.is_delete=0
        <if test="innerVersion != null and innerVersion != ''">
            AND v.inner_version = #{innerVersion}
        </if>
        <if test="outerVersion != null and outerVersion != ''">
            AND v.outer_version = #{outerVersion}
        </if>
        <if test="published != null">
            AND v.published = #{published}
        </if>
        <if test="id != null">
            AND v.id != #{id}
        </if>
    </select>

    <select id="findByCond" parameterType="com.autoyol.field.progress.manage.entity.VersionConfEntity"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from version_conf v where v.is_delete=0
        <if test="innerVersion != null and innerVersion != ''">
            AND v.inner_version = #{innerVersion}
        </if>
        <if test="outerVersion != null and outerVersion != ''">
            AND v.outer_version = #{outerVersion}
        </if>
        <if test="published != null">
            AND v.published = #{published}
        </if>
    </select>

    <update id="updateById" parameterType="com.autoyol.field.progress.manage.entity.VersionConfEntity">
        update version_conf v
        <set>
            <if test="title != null and title != ''">
                v.title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="platformType != null">
                v.platform_type = #{platformType,jdbcType=INTEGER},
            </if>
            <if test="innerVersion != null and innerVersion != ''">
                v.inner_version = #{innerVersion,jdbcType=VARCHAR},
            </if>
            <if test="outerVersion != null and outerVersion != ''">
                v.outer_version = #{outerVersion,jdbcType=VARCHAR},
            </if>
            <if test="forceUpdate != null">
                v.force_update = #{forceUpdate,jdbcType=INTEGER},
            </if>
            <if test="homeNoticed != null">
                v.home_noticed = #{homeNoticed,jdbcType=INTEGER},
            </if>
            <if test="downloadUrl != null and downloadUrl != ''">
                v.download_url = #{downloadUrl,jdbcType=VARCHAR},
            </if>
            <if test="homePicPath != null and homePicPath != ''">
                v.home_pic_path = #{homePicPath,jdbcType=VARCHAR},
            </if>
            <if test="memo != null and memo != ''">
                v.memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="published != null">
                v.published = #{published,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                v.is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            v.update_time = now(),
            v.update_op = #{updateOp,jdbcType=VARCHAR}
        </set>
        where v.id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insert" parameterType="com.autoyol.field.progress.manage.entity.VersionConfEntity">
    insert into version_conf (id, title, platform_type, 
      inner_version, outer_version, force_update,
      home_noticed, download_url, home_pic_path, 
      memo, published, is_delete, 
      create_op, create_time, update_op, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{platformType,jdbcType=INTEGER}, 
      #{innerVersion,jdbcType=VARCHAR}, #{outerVersion,jdbcType=VARCHAR}, #{forceUpdate,jdbcType=INTEGER},
      #{homeNoticed,jdbcType=INTEGER}, #{downloadUrl,jdbcType=VARCHAR}, #{homePicPath,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{published,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}, 
      #{createOp,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateOp,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.autoyol.field.progress.manage.entity.VersionConfEntity">
        insert into version_conf
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="platformType != null">
                platform_type,
            </if>
            <if test="innerVersion != null">
                inner_version,
            </if>
            <if test="outerVersion != null">
                outer_version,
            </if>
            <if test="forceUpdate != null">
                force_update,
            </if>
            <if test="homeNoticed != null">
                home_noticed,
            </if>
            <if test="downloadUrl != null">
                download_url,
            </if>
            <if test="homePicPath != null">
                home_pic_path,
            </if>
            <if test="memo != null">
                memo,
            </if>
            <if test="published != null">
                published,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createOp != null">
                create_op,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateOp != null">
                update_op,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="platformType != null">
                #{platformType,jdbcType=INTEGER},
            </if>
            <if test="innerVersion != null">
                #{innerVersion,jdbcType=VARCHAR},
            </if>
            <if test="outerVersion != null">
                #{outerVersion,jdbcType=VARCHAR},
            </if>
            <if test="forceUpdate != null">
                #{forceUpdate,jdbcType=INTEGER},
            </if>
            <if test="homeNoticed != null">
                #{homeNoticed,jdbcType=INTEGER},
            </if>
            <if test="downloadUrl != null">
                #{downloadUrl,jdbcType=VARCHAR},
            </if>
            <if test="homePicPath != null">
                #{homePicPath,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
            <if test="published != null">
                #{published,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="createOp != null">
                #{createOp,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateOp != null">
                #{updateOp,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>